<h1>{{ title }}</h1>

<div class="row">
  {%  for nid, team in stats.teams %}
  <div class="col s6">
    <a href="/node/{{ nid }}">
      <div class="card-panel {{ team.css }}">
        <h2 class="center">
          The {{ team.name }} are <br>
          {{ team.w }} - {{ team.l }} - {{ team.t }}<br>
          in this matchup.
        </h2>
      </div>
    </a>
  </div>
  {% endfor %}
</div>

<div class="row">
  {%  for nid, team in stats.teams %}
    <div class="col s3">
      <a href="{{ team.big_win.link }}">
        <div class="card-panel {{ team.css }}">
          <p class="center">
            <h3>Biggest Win</h3>
          {{ team.big_win.diff }} points in a {{ team.big_win.score }} win<br>
            in Week {{ team.big_win.week }} of the {{ team.big_win.season }} season.
          </p>
        </div>
      </a>
    </div>
    <div class="col s3">
      <a href="{{ team.close_win.link }}">
        <div class="card-panel {{ team.css }}">
          <p class="center">
          <h3>Closest Win</h3>
            {{ team.close_win.diff }} points in a {{ team.close_win.score }} win<br>
            in Week {{ team.close_win.week }} of the {{ team.close_win.season }} season.
          </p>
        </div>
      </a>
    </div>
  {% endfor %}
</div>


<div class="row">
  <div class="col s4">
    <div class="card-panel">
      <h3>Home Team Record</h3>
      <p class="center">
        The home team is <br>
        {{ stats.home.w }} - {{ stats.home.l }} - {{ stats.home.t }}<br>
        in this matchup.
      </p>
    </div>
  </div>
  <div class="col s4">
    <a href="{{ stats.high_score.link }}">
      <div class="card-panel grey-text text-darken-4">
        <h3>Highest Score</h3>
        <p class="center">
        The highest scoring game between these two teams is <strong>{{ stats.high_score.points }} points</strong><br>
          in Week {{ stats.high_score.week }} of the {{ stats.high_score.season }} season.
        </p>
      </div>
    </a>
  </div>
  <div class="col s4">
    <a href="{{ stats.low_score.link }}">
      <div class="card-panel grey-text text-darken-4">
        <h3>Lowest Score</h3>
        <p class="center">
        The lowest scoring game between these two teams is <strong>{{ stats.low_score.points }} points</strong><br>
        in Week {{ stats.low_score.week }} of the {{ stats.low_score.season }} season.
        </p>
      </div>
    </a>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <div class="card-panel">
      <table>
        <thead>
        <tr>
          <th>Season</th>
          <th>Week</th>
          <th>Home</th>
          <th>Score</th>
          <th>Away</th>
          <th>Link</th>
        </tr>
        </thead>
        <tbody>
        {% for game in games %}
          {% if game.winner == 'home' %}
            {% set homecss = 'class=bold' %}
            {% set awaycss = '' %}
          {% elseif game.winner == 'away' %}
            {% set awaycss = 'class=bold' %}
            {% set homecss = '' %}
          {% else %}
            {% set awaycss = '' %}
            {% set homecss = '' %}
          {% endif %}
          <tr>
            <td>{{ game.season }}</td>
            <td>{{ game.week }}</td>
            <td {{ homecss }}>{{ game.home }}</td>
            <td>{{ game.hscore }} - {{ game.ascore }}</td>
            <td {{ awaycss }}>{{ game.away }}</td>
            <td><a href="{{ game.link }}">View Game</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>