{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}

{# Filter and Sort Buttons #}
<div id="teams">
  <div class="row">
    <div class="col s12">
      <div class="button-group sort-by-button-group">
        <div class="row">
          <div class="col"><span style="font-size: 24px; font-weight: 300;">Sort:</span></div>
          <div class="col"><button class="button primary waves-effect white black-text waves-light btn" data-sort-by="name">Name</button></div>
          <div class="col"><button class="button primary waves-effect white black-text waves-light btn" data-sort-by="wins">Most Wins</button></div>
          <div class="col"><button class="button primary waves-effect white black-text waves-light btn" data-sort-by="losses">Most Losses</button></div>
          <div class="col"><button class="button primary waves-effect white black-text waves-light btn" data-sort-by="pct">Highest Win &percnt;</button></div>
        </div>
      </div>
    </div>
  </div>
  <div class="teams">
    {# Loop through all teams and create circles for those. #}
    {% for team, data in content %}
      {% if data['g'] > 0 %}
        {% if data.t > 0 %}
          {% set wins = data.w + (data.t/2) %}
        {% else %}
          {% set wins = data.w %}
        {% endif %}
        {% set pct = wins / (data.w + data.l + data.t) %}
        <div>
          <a href="/matchup/{{ this_team }}/{{ data.nid }}" class="team {{ data.style }}">
            <div class="team-inner">
              <span class="name">{{ team }}</span>
              <br>
              <span class="record">
                <span class="wins">{{ data.w }}</span> - <span class="losses">{{ data.l }}</span> - <span class="ties">{{ data.t }}</span>
              </span>
              <br>
              <span class="pct">{{ pct|number_format(3) }}</span>
            </div>
          </a>
        </div>
      {% endif %}
    {% endfor %}

    {% for team in teams %}
      {% set pct = team.w / (team.w + team.l) %}
      <div>
        <a href="/team/{{ team.style }}" class="team {{ team.style }} {{ team.cnf }} {{ team.div }}">
          <div class="team-inner">
            <span class="name">{{ team.name }}</span>
            <br>
            <span class="record">
                                    <span class="wins">{{ team.w }}</span> - <span class="losses">{{ team.l }}</span>
                                </span>
            <br>
            <span class="pct">{{ pct|number_format(3) }}</span>
          </div>
        </a>
      </div>
    {% endfor %}


  </div>
</div>

<div class="fixed-action-btn ">
  <a class="btn-floating btn-large red modal-trigger" data-target="modal1" href="#modal1">
    <i class="large material-icons white-text">help_outline</i>
  </a>
</div>

<!-- Modal Structure -->
