{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
<div class="card-panel {{ team_css }} center">
  <h1>{{ team_name }}</h1>
  <h2>{{ total }} <br>({{ pct|number_format(3) }})</h2>
  {% if sbwins > 0 %}
    <div class="row">
      <div class="col s12 center">
        {% for sb in 1 .. sbwins %}
          <svg class="team-trophy-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 500 500" enable-background="new 0 0 500 500" xml:space="preserve">
<g>
  <path class="trophy" fill="{{ color }}" d="M296.3,27.9c0,0-33.8-28.9-88-27.9c4.5,1,9.2,2.4,14.2,4c2.4-0.9,5.3-1.8,8.3-2.3c1.3-0.3,2.4,0.6,2.6,1.9
		c0.3,1.3-0.6,2.4-1.9,2.6c-0.6,0.1-1.4,0.3-2,0.4c1,0.4,2.1,0.9,3.1,1.4c2.5-1.1,5.5-2,8.8-2.6c1.3-0.3,2.4,0.6,2.6,1.9
		c0.3,1.3-0.6,2.4-1.9,2.6c-1.3,0.3-2.4,0.5-3.5,0.8c1.9,0.9,3.8,1.9,5.6,2.9c2.6-0.9,5.9-1.6,9.7-2c1.3-0.1,2.4,0.8,2.5,2
		c0.1,1.3-0.8,2.4-2,2.5c-1.5,0.1-3,0.4-4.3,0.6c1.9,1.1,3.8,2.3,5.5,3.4c2.8-1,5.6-1.9,8.7-2.1c1.3-0.1,2.4,0.8,2.5,2
		c0.1,1.3-0.8,2.4-2,2.5c-1.5,0.1-2.9,0.5-4.4,0.9c2,1.4,4,2.9,6,4.4c2.6-0.9,5.8-1.4,9.3-1.5c1.3,0,2.3,1,2.4,2.3
		c0,1.3-1,2.4-2.3,2.4c-1.8,0-3.4,0.3-4.9,0.5c2.4,2,4.8,4.1,7.2,6.4c2.3-0.8,4.6-1.4,7.4-1.9c1.3-0.3,2.4,0.6,2.6,1.9
		s-0.6,2.4-1.9,2.6c-1.6,0.3-3.1,0.6-4.5,1c2.3,2.3,4.6,4.8,6.9,7.3c2.4-0.8,5.1-1.3,8.3-1.4c1.3-0.1,2.4,0.9,2.4,2.1
		c0.1,1.3-0.9,2.4-2.1,2.4c-1.9,0.1-3.6,0.4-5.1,0.6c2.3,2.6,4.5,5.5,6.8,8.4c2.1-0.8,4.5-1.5,7.5-2.1c1.3-0.3,2.5,0.5,2.8,1.8
		c0.3,1.3-0.5,2.4-1.8,2.8c-2.1,0.5-4,1-5.6,1.5c6.5,8.9,12.7,18.9,18.6,30.4c15.3,30,26.5,53.8,34.8,72.8
		C360.7,147.3,366.6,90.6,296.3,27.9z"/>
  <path class="trophy" fill="{{ color }}" d="M296.1,67.5c-3,1.5-4.1,2.8-4.1,2.8c-0.4,0.4-0.8,0.6-1.3,0.8c-0.6,0.1-1.4,0-2-0.4c-1-0.8-1.1-2.1-0.4-3.1
		c0.3-0.3,1.5-1.9,5-3.6c-2.4-3.1-4.8-6-7.3-8.8c-4,2-5.6,4.4-5.6,4.4c-0.4,0.5-0.9,0.9-1.4,1c-0.6,0.1-1.3,0.1-1.9-0.3
		c-1-0.8-1.4-2.1-0.6-3.1c0.1-0.3,2-2.9,6.4-5.4c-2.4-2.6-4.8-5.1-7.3-7.4c-4.8,2.1-7.3,4.4-7.4,4.4c-0.3,0.3-0.6,0.4-1,0.5
		c-0.8,0.3-1.8,0-2.3-0.8c-0.9-1-0.8-2.4,0.1-3.3c0.1-0.1,2.5-2.1,6.8-4.4c-2.6-2.4-5.3-4.6-7.9-6.8c-4.1,1.9-6.3,4.1-6.4,4.1
		c-0.3,0.4-0.6,0.5-1.1,0.6c-0.8,0.3-1.6,0-2.1-0.6c-0.9-0.9-0.9-2.4,0-3.3c0.1-0.1,2.1-2.1,5.6-4c-2.1-1.6-4.4-3.1-6.5-4.5
		c-3.8,1.8-6.4,3.6-6.5,3.6c-0.3,0.1-0.5,0.3-0.8,0.4c-0.9,0.3-1.9-0.1-2.5-0.9c-0.8-1-0.5-2.5,0.6-3.1c0.1-0.1,1.9-1.4,4.6-2.8
		c-2.3-1.4-4.5-2.6-6.8-3.9c-3.8,1.8-5.8,3.6-5.8,3.6c-0.3,0.3-0.6,0.5-1,0.6c-0.8,0.3-1.6,0-2.1-0.6c-0.9-0.9-0.9-2.4,0-3.3
		c0.1-0.1,1.4-1.5,4-3c-2-1-4.1-2-6.1-2.9c-3.3,1.9-5.1,3.6-5.1,3.6c-0.3,0.3-0.6,0.5-1,0.5c-0.8,0.3-1.6,0-2.3-0.6
		c-0.9-0.9-0.9-2.4,0.1-3.3c0.1-0.1,1.1-1.1,3.1-2.4c-1.9-0.8-3.6-1.4-5.4-2c-3.9,1.9-6.1,3.6-6.3,3.6c-0.3,0.3-0.5,0.4-0.9,0.4
		c-0.9,0.3-1.8-0.1-2.4-0.8c-0.8-1-0.6-2.4,0.4-3.3c0.1-0.1,1.1-0.9,2.9-1.9c-12.8-3.8-23.8-5-31.8-5.3c-6.4,1.1-13.1,2.8-19.8,4.9
		c0,0-13.4,6.5-15.2,11.3c0,0-3.9,8.7-5.4,22.7c2,10,7,26.2,20.1,43.9c20,27.1,63,63.5,155,82.8c0.3,0,16.1,2.8,33,3.6
		c-8.3-18.9-19.6-43.2-35.1-73.7C309,86.7,302.7,76.6,296.1,67.5z"/>
  <path class="trophy" fill="{{ color }}" d="M157,88.7c-7.2-9.8-11.9-18.9-15.3-27.1c1.9,27.4,14.7,64.1,59.2,99.9c0,0,77.3,53.1,149,16.6
		c-17.1-0.9-32.8-3.6-33.9-3.8C221.8,154.6,177.5,116.9,157,88.7z"/>
  <path class="trophy" fill="{{ color }}" d="M212.4,178.3l-10.3-4.5l-36.4,265.3c6.1,2.3,16.4,20.3,16.4,20.3L212.4,178.3z"/>
  <path class="trophy" fill="{{ color }}" d="M218,180.2L182.2,500c51-26,134.4-30.6,134.4-30.6l-29.9-273.8C253.8,197,218,180.2,218,180.2z M261.1,347
		c0,0-1.5,12.7-11.7,11.4c0,0-5.9,3.1-6.1,6.5c0,0-1.3-6.8-11.4-4.3c0,0-4.6,0.3-4.9-7.2v-38.3c0,0,9.5,8,16.7-6.5
		c0,0,10.2,12.3,19.7,0L261.1,347z"/>
</g>
</svg>

        {% endfor %}
      </div>
    </div>
  {% endif %}
</div>
