{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}
{% if page.mobile_nav %}
  <div id="nav-mobile" class="side-nav" role="group" arial-label="Mobile navigation">
      <div class="sidenav">
        <div class="sidenav-close">
          <a href="#" data-activates="side-nav" class="button-close"><i class="material-icons">close</i></a>
        </div>
        {{ page.mobile_nav }}
      </div>
  </div>
{% endif %}

{% if page.top_nav %}
  <div class="top-navigation" role="navigation" aria-label="{{ 'Site header'|t}}">
    <div class="nav-wrapper container clearfix">
      <div class="row">
        {{ page.top_nav }}
      </div>
    </div>
  </div>
{% endif %}
<nav class="main-navigation grey darken-2" role="navigation" aria-label="{{ 'Site header'|t}}">
  <div class="nav-wrapper container">
    <div class="row">
      {% if page.branding_nav %}
        {{ page.branding_nav }}
      {% endif %}

      {% if page.primary_nav %}
        {{ page.primary_nav }}
      {% endif %}

      {% if page.mobile_nav %}
        <a href="#" data-activates="nav-mobile" class="button-collapse sidenav-trigger"><i class="material-icons">menu</i></a>
      {% endif %}
    </div>
  </div>
</nav>

{% if page.header %}
<div class="section no-pad-bot" id="page-header">
  <div class="container">
    {{ page.header }}
  </div>
</div>
{% endif %}

{% if page.slider %}
  <div id="page-slider">
    {{ page.slider }}
  </div>
{% endif %}

{% if page.highlighted %}
  <div class="section no-pad-bot parallax-container" id="page-highlighted">
    {{ page.highlighted }}
  </div>
{% endif %}

<div class="main-content js-quickedit-main-content">
  {% if page.help %}
    <div class="container">
      {{ page.help }}
    </div>
  {% endif %}

  <div class="container">
    <div class="row">
      {% if page.content_right %}
        <div class="col xl9 s12">
          <a id="main-content"></a>
          {{ page.content }}
        </div>
        <div class="col xl3 s12">
          {{ page.content_right }}
        </div>
      {% else %}
        <div class="col s12">
          <a id="main-content"></a>
          {{ page.content }}
        </div>
      {% endif %}
    </div>
  </div>
</div>

<footer class="page-footer grey darken-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        {{ page.footer_first }}
      </div>
      <div class="col l3 s12">
        {{ page.footer_second }}
      </div>
      <div class="col l3 s12">
        {{ page.footer_third }}
      </div>
    </div>
  </div>
  {% if page.copy %}
    <div class="footer-copyright">
      <div class="container">
        {{ page.copy }}
      </div>
    </div>
  {% endif %}
</footer>
