/* Team listing circles */
.team {
  float: left;
  width: 10em;
  text-align: center;
  border-radius: 50%;
  margin: 1em;
  /*padding: 1em;*/
  /*padding-top: 2.3em;*/
  font-weight: bold;
  line-height: 1;
  height: 10em;
  box-shadow: 6px 8px 13px 0 rgba(4, 4, 4, 0.17); }

.team {
  color: white;
  font-weight: normal; }

.team-inner {
  padding: 2em;
  padding-top: 2.7em; }

.teams:after {
  clear: both; }

#footer {
  display: none; }

/* Team Colors */
.pats-red {
  color: #C60C30; }

.pats-blue {
  color: #002244; }

.new-england-patriots {
  color: #B0B7BC;
  background: #002244;
  border: 0.25em solid #C60C30; }

.boston-patriots {
  color: #CC122C;
  background: white;
  border: 0.25em solid #CC122C; }

.miami-dolphins {
  color: white;
  background: #008E97;
  border: 0.25em solid #F26A24; }

.buffalo-bills {
  color: white;
  background: #00338D;
  border: 0.25em solid #C60C30; }

.new-york-jets {
  color: white;
  background: #00573F;
  border: 0.25em solid white; }

.kansas-city-chiefs {
  color: white;
  background: #E31837;
  border: 0.25em solid #FFB81C; }

.oakland-raiders,
.los-angeles-raiders {
  color: #A5ACAF;
  background: black;
  border: 0.25em solid #A5ACAF; }

.denver-broncos {
  color: white;
  background: #002244;
  border: 0.25em solid #FB4F14; }

.los-angeles-chargers,
.san-diego-chargers {
  color: white;
  background: #0080C6;
  border: 0.25em solid #FFC20E; }

.pittsburgh-steelers {
  color: #FFB612;
  background: #101820;
  border: 0.25em solid #FFB612; }

.baltimore-ravens {
  color: #9E7C0C;
  background: #241773;
  border: 0.25em solid #9E7C0C; }

.cincinnati-bengals {
  color: white;
  background: #FB4F14;
  border: 0.25em solid black; }

.cleveland-browns {
  color: white;
  background: #FF3C00;
  border: 0.25em solid #311D00; }

.houston-texans {
  color: white;
  background: #03202F;
  border: 0.25em solid #A71930; }

.tennessee-titans {
  color: white;
  background: #418FDE;
  border: 0.25em solid #0C2340; }

.tennessee-oilers,
.houston-oilers {
  color: white;
  background: #418FDE;
  border: 0.25em solid #C8102E; }

.indianapolis-colts,
.baltimore-colts {
  color: white;
  background: #002C5F;
  border: 0.25em solid #A2AAAD; }

.jacksonville-jaguars {
  color: #D7A22A;
  background: #006778;
  border: 0.25em solid #101820; }

.dallas-cowboys {
  color: white;
  background: #041E42;
  border: 0.25em solid #869397; }

.new-york-giants {
  color: white;
  background: #0B2265;
  border: 0.25em solid #A71930; }

.washington-redskins {
  color: #FFB612;
  background: #773141;
  border: 0.25em solid #FFB612; }

.philadelphia-eagles {
  color: #A5ACAF;
  background: #004C54;
  border: 0.25em solid #ACC0C6; }

.seattle-seahawks {
  color: #A5ACAF;
  background: #002244;
  border: 0.25em solid #69BE28; }

.arizona-cardinals,
.phoenix-cardinals,
.st-louis-cardinals {
  color: white;
  background: #97233F;
  border: 0.25em solid black; }

.los-angeles-rams {
  color: white;
  background: #002244;
  border: 0.25em solid #866D4B; }

.st-louis-rams {
  color: #FFCD00;
  background: #002D72;
  border: 0.25em solid #FFCD00; }

.san-francisco-49ers {
  color: #B3995D;
  background: #AA0000;
  border: 0.25em solid #B3995D; }

.green-bay-packers {
  color: #FFB612;
  background: #203731;
  border: 0.25em solid #FFB612; }

.detroit-lions {
  color: #B0B7BC;
  background: #0076B6;
  border: 0.25em solid #B0B7BC; }

.minnesota-vikings {
  color: #FFC62F;
  background: #4F2683;
  border: 0.25em solid #FFC62F; }

.chicago-bears {
  color: #C83803;
  background: #0B162A;
  border: 0.25em solid #C83803; }

.atlanta-falcons {
  color: white;
  background: #A71930;
  border: 0.25em solid black; }

.tampa-bay-buccaneers {
  color: white;
  background: #D50A0A;
  border: 0.25em solid #34302B; }

.new-orleans-saints {
  color: #D3BC8D;
  background: #101820;
  border: 0.25em solid #D3BC8D; }

.carolina-panthers {
  color: white;
  background: #0088CA;
  border: 0.25em solid #BFC0BF; }

/* Pie Chart CSS */
.stat-contain {
  clear: both;
  display: -ms-flexbox;
  display: flex;
  padding: 1em; }

.graph {
  width: inherit;
  margin: 0 auto; }

.loss {
  color: red; }

.win {
  color: green; }

.win a, .loss a {
  color: inherit; }

.win a:hover, .loss a:hover {
  border-bottom: 1px solid; }

.superbowl {
  background: url(/themes/custom/nfl_material/icons/sb-icon.svg) no-repeat #f5f5f5; }

tr.win.superbowl {
  border: 2px solid green; }

svg.trophy-svg {
  height: 4em; }

svg.team-trophy-svg {
  height: 2.5em; }

span.stat {
  float: right; }

/* Team Detail Stat Blocks */
span.stat-score {
  display: block;
  font-size: 340%; }

.total-score .row,
.avg-score .row {
  padding-top: 1rem; }

/*# sourceMappingURL=nfl.css.map */
