.sidenav-open {
  .sidenav {
    transform: translateX(0%);

    .sidenav-close {
      padding: 1rem;
      text-align: right;
    }

    .button-close {
      padding: 0;
    }

    h2,
    .block-title {
      @include format-text(h6);
      text-transform: uppercase;
      padding: 1rem;
      border-bottom: 1px solid $divider-color;
      font-weight: bold;
    }
  }

  .side-nav {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    //height: calc(100% + 60px);
    //height: -moz-calc(100%); //Temporary Firefox Fix
    //padding-bottom: 60px;
    z-index: 998;
    overflow-y: auto;

    //height: 100%;
    //width: 100%;
    background-color: rgba(255,255,255, .5);
  }
}
