h1, h2, h3 {
    color: inherit;
}
.card-panel a,
.card-panel a:hover,
.card-panel a:visited {
    color: inherit;
}
.card-panel a:hover {
    text-decoration: underline;
}
.bold {
    font-weight: bold;
}

.region-slider section div {
    max-height: 200px;
    overflow: scroll;
}

.card.recap .card-content p {
    margin: 1em 0 1em 0;
}

.parallax-overlay {
    z-index: 1;
    position: relative;
    top: 12rem;
    max-width: 80%;
    color: white;
    font-weight: 200;
    margin: 0 auto;
}

.img-overlay {
    z-index: 1;
    position: relative;
    top: 2rem;
    max-width: 80%;
    color: white;
    font-weight: 200;
    margin: 0 auto;
}

.img-overlay h1 {
    font-size: 230%;
}

.parallax,
.overlay {
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

h1.overlay-title {
    font-weight: 200;
}

.parallax img,
.parallax-container .parallax img
{
    opacity: 0.6;
}
.overlay img {
    opacity: 0.4;
    position: absolute;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.overlay-container {
    position: relative;
    overflow: hidden;
    height: 250px;
}

.recap-header {
    height: 15em;
    justify-content: center;
}

.divider {
    margin: 2em 0 2em 0;
}

p img {
    max-width: 100%;
    height: auto;
}