{#
/**
 * @file
 * Theme override for a node edit form.
 *
 * Two column template for the node add/edit form.
 *
 * This template will be used when a node edit form specifies 'node_edit_form'
 * as its #theme callback.  Otherwise, by default, node add/edit forms will be
 * themed by form.html.twig.
 *
 * Available variables:
 * - form: The node add/edit form.
 *
 * @see seven_form_node_form_alter()
 */
#}
<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Basic Recap Information</span>
        <p>Pretty standard stuff. This info will dictate what the theming of this page will use (team colors and such) and what lists it will show up on.</p>
        {{ form.field_season }}
        {{ form.field_recap_team }}
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Header Image</span>
        <p>You don't <em>need</em> to have a header image, but it'll look nicer if you do. The best kind of images are long and skinny: ideally around 1500px wide by 500px tall.</p>
        {{ form.field_header_image }}
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="s12 col">
    {{ form|without('advanced', 'actions', 'status', 'field_header_image', 'field_season', 'field_recap_team') }}
  </div>
</div>
<div class="row">
  <div class="col s12">
    {{ form.advanced }}
    {{ form.status }}
    {{ form.actions }}
  </div>
</div>